
/*--------------------
    Header Style
--------------------*/

header{
    background-color: #264653;
}

.button{
    background-color: #E76F51;
}

/*----------------
    Body Style
----------------*/

.margin-1{
    margin-top: 8%;
}

.margin-2{
    margin: 10% 0%;
}